{% extends 'PPESymfonyPPEBundle:Default:base.html.twig' %}
{% block corps %}
<div id="corps">
	<h3> Formulaire d'inscription pour une chambre </h3>
	<form action="{{path('ppe_symfony_ppe_ajoutChambre')}}" method="post">
		{{form_widget(leFormulaire)}}
	</form>
<div>
{% endblock %}
