{% extends 'PPESymfonyPPEBundle:Default:base.html.twig'%}
{% block corps %}
<div id="corps">
	<h3>Ajout d'une ville</h3>
	<form action="{{path('ppe_symfony_ppe_createVille')}}" method="post">
	{{form_widget(form)}}
	</form>
</div>
{% endblock %}