{% extends 'PPESymfonyPPEBundle:Default:base.html.twig' %}
{% block corps %}
<div id="corps">
	<h3> Modification d'une chambre </h3>
	<form action="" method="post">
		{{form_widget(form)}}
	</form>
</div>
{% endblock %}
