{% extends 'PPESymfonyPPEBundle:Default:base.html.twig'%}
{% block corps %} 
<div id="corps">
<h3>Modification d'un patient</h3>
<form action="" method ="POST">
	{{form_widget(form)}}
</form>
</div>
{% endblock %}